Welcome to the Nested Forms Lab!
let's navigate to the '/new'
<% unless params[:pirate].nil? %>
  <h1><%= params[:pirate][:name] %></h1>
  <p>Weight: <%= params[:pirate][:weight] %></p>
  <p>Height: <%= params[:pirate][:height] %></p>

  <% params[:pirate][:ships].each do |ship| %>
    <% s = ship.last %>
    <h2><%= s[:name] %></h2>
    <p>Type: <%= s[:type] %></p>
    <p>Booty: <%= s[:booty] %></p>
  <% end %>
<% else %>
 <p>There are no pirates on the horizon...</p>
<% end %>
